# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Node
node_modules/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# Uploads
uploads/

.mp4