version: '3.8'

services:
  backend:
    build: ./server
    container_name: fitai-backend
    ports:
      - "8000:8000"
    env_file: ./server/.env
    volumes:
      - ./server:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - mongo

  frontend:
    build: ./client
    container_name: fitai-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    depends_on:
      - backend


  mongo:
    image: mongo:6.0
    container_name: fitai-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
